Debug/
Release/
ipch/
myGLEStest.vcxproj.filters
myGLEStest.vcxproj
*.OXY
CMan0002-M3-Head-D-small.bmp
CMan0002-M3-Head-D-small.jpg
CMan0002-M3-Head-D.jpg
myGLEStest.sdf
/myGLEStest170212.vspx
/myGLEStest170212.vsp
/myGLEStest1.psess
/myGLEStest.VC.VC.opendb
/myGLEStest.VC.db
/myGLEStest.psess
/MyFirstProject
/lookAtCamera.cpp~RFd680f6c.TMP
/lookAtCamera.cpp~RFd5cc9dc.TMP
/lookAtCamera.cpp~RFd45fe2b.TMP
